<a href="https://colab.research.google.com/github/meetchovatiya46/Python_Projects/blob/main/Machine_Learning_Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

df=pd.read_csv("Titanic-Dataset.csv")

df["travelalone"]=np.where((df["SibSp"]+ df["Parch"]) > 0,0,1).astype("uint8")

df1=df.drop(["SibSp", "Parch", "PassengerId", "Name", "Ticket", "Cabin"], axis=1)

# df1.isna().sum()

df1["Age"].fillna(df1["Age"].median(skipna=True))
# print(df1.head())

print("\n")
df_titanic=pd.get_dummies(df1, columns=["Pclass", "Embarked", "Sex"])


x=df_titanic.drop(["Survived"],axis=1)
y=df_titanic["Survived"]

mm=MinMaxScaler()
ss=StandardScaler()

df_mm=mm.fit_transform(x)
pd.DataFrame(df_mm)

           0         1    2    3    4    5    6    7    8    9    10
0    0.271174  0.014151  0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  1.0
1    0.472229  0.139136  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0
2    0.321438  0.015469  1.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0
3    0.434531  0.103644  0.0  1.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0
4    0.434531  0.015713  1.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  1.0
..        ...       ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
886  0.334004  0.025374  1.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  1.0
887  0.233476  0.058556  1.0  1.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0
888       NaN  0.045771  0.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0
889  0.321438  0.058556  1.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0
890  0.396833  0.015127  1.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0

[891 rows x 11 columns]

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# -----------------------------
# 1. LOAD DATA
# -----------------------------
df = pd.read_csv("Titanic-Dataset.csv")

# -----------------------------
# 2. FEATURE ENGINEERING
# -----------------------------
df["travelalone"] = np.where((df["SibSp"] + df["Parch"]) > 0, 0, 1).astype("uint8")

df1 = df.drop(["SibSp", "Parch", "PassengerId", "Name", "Ticket", "Cabin"], axis=1)

# Fix Age missing values
df1["Age"] = df1["Age"].fillna(df1["Age"].median())

# -----------------------------
# 3. ONE-HOT ENCODING
# -----------------------------
df_titanic = pd.get_dummies(df1, columns=["Pclass", "Embarked", "Sex"], drop_first=True)

# -----------------------------
# 4. SPLIT X AND Y
# -----------------------------
x = df_titanic.drop(["Survived"], axis=1)
y = df_titanic["Survived"]

# print(x)
# print("\n")
# print(y)

# -----------------------------
# 5. SCALING
# -----------------------------
mm = StandardScaler()
x_scaled = mm.fit_transform(x)

# -----------------------------
# 6. TRAIN/TEST SPLIT
# -----------------------------
x_train, x_test, y_train, y_test = train_test_split(
    x_scaled, y, test_size=0.2, random_state=42
)

# -----------------------------
# 7. TRAIN MODEL
# -----------------------------
model = LogisticRegression()
model.fit(x_train, y_train)

# -----------------------------
# 8. PREDICT
# -----------------------------
y_pred = model.predict(x_test)

# -----------------------------
# 9. EVALUATION
# -----------------------------
print("Model Accuracy:", accuracy_score(y_test, y_pred))

# OPTIONAL: Predict first passenger in dataset
print("Prediction for first passenger:", model.predict([x_scaled[0]]))

Model Accuracy: 0.7877094972067039
Prediction for first passenger: [0]